.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding:0%;
  height:100px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  padding:0%
}


.navbar-lewagon .navbar-brand img {
  width: 200px;
  position: relative;
  float: left;
  line-height: 0;
  height: 100%;
  padding:0%
}

.navbar-logo {
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 15px;
}

.navbar-nav.me-auto {
  font-size: 18px;
}

.container.first-container {
  margin-top: 0px;
  max-width: 2000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
  text-align: center;
}
.container .row .col-xs-12 {
  padding-top: 0px;
}

.search-nav{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  margin-top: -50px;
  display: flex;
  align-items: center;
}

.block-avatar{
  position: absolute;
  right: 0px;
  transform: translateX(-10%);
  top: 50%;
  margin-top: -40px;
  display: flex;
  align-items: center;
}
