<head>
  <style>
    body {
      background-color: #344E41;
    }
     .container {
      max-width: 1500px;
      margin: 0 auto;
    }

    .list-group {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 10px;
    }

    .list-group-item {
      padding: 10px;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .list-group-item img {
      width: 100%;
      height: auto;
    }

    .card {
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 10px;
      background-color: #fff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .card img {
      width: 50%;
      height: auto;
    }

  </style>
</head>
<body>
  <div class="container" style="background-color: #DAD7CD">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <h1>Pages#index</h1>
        <ul class="list-group mb-3">
          <p>Find me in app/views/pages/home.html.erb</p>
              <% @products.each do |product| %>
                <li class="list-group-item">
                <div class="card">
                  <%= link_to product.name, product_path(product) %>
                  <%= image_tag product.product_url, alt: product.name %>
                </div>
                </li>
          <% end  %>
        </ul>
      </div>
    </div>
  </div>
</body>
