<head>


 </head>
<body>
  <div class="container" style="background-color: #DAD7CD">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <h1>Pages#index</h1>
        <ul class="list-group mb-3">
              <% @products.each do |product| %>
                <li class="list-group-item">
                <div class="card">
                  <%= link_to product.name, product_path(product) %>
                  <%= image_tag product.product_url, alt: product.name %>
                </div>
                </li>
          <% end  %>
        </ul>
      </div>
    </div>
  </div>
</body>
