<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1>Pages#index</h1>
      <ul class="list-group mb-3">
        <p>Find me in app/views/pages/home.html.erb</p>
            <% @products.each do |product| %>
              <li class="list-group-item">
                <%= link_to product.name %>
              </li>
        <% end  %>
      </ul>
    </div>
  </div>
</div>
