<head>
</head>

<body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <div class="container second-container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-sm-offset-1">
        <ul class="list-group mb-3">
          <% @products.each do |product| %>
            <li class="list-group-item">
              <div class="card">
               <%= link_to product.name, product_path(product) %>
               <%= cl_image_tag product.photos.first.key, alt: product.name %>
                <div class="price">
                  <span class="original-price" data-link="<%= product_path(product) %>"><%= number_with_precision(product.price, precision: 2) %></span>
                </div>
              </div>
            </li>
          <% end  %>
        </ul>
      </div>
    </div>
  </div>
</div>




<script>
  $(document).ready(function() {
    $('.original-price').hover(function() {
      // Store the original price
      $(this).data('original-price', $(this).text());
      $(this).text('Click e compre agora');
    }, function() {
      // Restore the original price
      $(this).text($(this).data('original-price'));
    });

    $('.original-price').click(function() {
      var productPath = $(this).data('link');
      window.location.href = productPath;
    });
  });
</script>

</body>
